.signup-info-container {
    display: flex;
    flex-direction: column;
}

.first-name-info {
    margin: 10px;
}

.first-name-input {
    margin-left: 10px;
    width: 69%;
}

.last-name-info {
    margin: 10px;
    width: 68%;
}

.last-name-input {
    margin-left: 10px;
}

.email-info {
    margin: 10px;
}

.email-input {
    margin-left: 10px;
    width: 82%;
}

.username-info {
    margin: 10px;
}

.username-input {
    margin-left: 10px;
}

.password-info-signup {
    margin: 10px;
}

.password-input {
    margin-left: 10px;
}

.confirmed-password-info {
    margin: 10px;
}

.confirmed-password-input {
    margin-left: 10px;
}

.sign-up-button {
    background-color: #ff395c;
    color: white;
    border: solid white;
    border-radius: 10px;
    font-size: 25px;
    margin: 10px;
}
