.navigation-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    border-bottom: solid thin rgb(235, 232, 232);
    align-items: center;
}

.home-link {
    display: flex;
    width: 25%;
    align-items: center;
    height: 80%;
}

.profile-button {
    position: relative;
}
