.profile-button {
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    width:80px;
    height:40px;
    border: solid 1px lightgrey;
}

.bars-icon {
    margin-right: 10px;
    fill: #717171;
}

.user-icon {
    fill: #717171;
}

.profile-dropdown {
    position: absolute;
    top: 116%;
    right: 1%;
    padding: 10px;
    width: 100%;
    border: solid 1px lightgrey;
    border-radius: 10px;
    background-color: white;
}

.signup-button-dropdown {
    width: 80%;
    margin: 10px;
}

.login-button-dropdown {
    margin: 10px;
}
