.login-info-container {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    width: 100%;
    margin: 10px;
}

.password-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    width: 100%;
    margin: 10px;
}

.login-button {
    background-color: #ff395c;
    color: white;
    border: solid white;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px;
}

.input-user {
    margin-left: 5px;
    flex: 1;
}

.input-password {
    margin-left: 5px;
    flex: 1;
}

.demo-user-button {
    background-color: #ff395c;
    color: white;
    border: solid white;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
}

/*
flex: 1 means =>
    flex-grow : 1;    ➜ The div will grow in same proportion as the window-size
    flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size
    flex-basis : 0;   ➜ The div does not have a starting value as such and will
                         take up screen as per the screen size available for
                         e.g:- if 3 divs are in the wrapper then each div will take 33%.

*/
